params {
    // Input/Output
    sequence   = "${projectDir}/data/GCA_024206055.2_GGswu_genomic.fna"
    outdir     = "${projectDir}/Results/A1/AKT2"
    
    // Algorithm Params
    allowed_HD_error   = 15
    diag_tol   = 2000
    extension_dir  = "C_trial_7_limit" 
    sequence_id = "CP100586.2"
    chromosome_id = "CP100586.2"

    mapping	  = "${projectDir}/KEGG_mapping.txt"
    org           = "Gallus gallus"
    db_path	  = "${projectDir}/Results/clusters_db_A1.db"

    gff_file = "${projectDir}/data/GCA_024206055.2_GGswu.xenoRefGene.gtf"
    start = 2596287
    end   = 2608733
}

process {
    executor = 'local'
    conda = "${projectDir}/environment.yml"
    cpus = 10
    memory = '16 GB'
}
