params {
    // Input/Output
    sequence   = "${projectDir}/test_data/AKT2_seq.fasta"
    outdir     = "${projectDir}/test_results/AKT2"
    chromosome_id = "CP100586.2"
    sequence_id = "AKT2"
    mapping	  = "${projectDir}/KEGG_mapping.txt"
    org           = "Gallus gallus"
    db_path	  = "${projectDir}/test_results/clusters_db_AKT2.db"
    //start = 2596287
    //end   = 2608733

    // Algorithm Params
    allowed_HD_error   = 15
    diag_tol   = 2000
    extension_dir  = "C_trial_7_limit" 
}

process {
    executor = 'local'
    conda = "${projectDir}/environment.yml"
    cpus = 10
    memory = '16 GB'
}
